
@tailwind base;

:root {
    --primary: #001b16;
    --secondary: #dc2626;
    /* --secondary: #059669; */
  }

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }

/* @font-face {
  font-family: 'Valorax';
  src: local('Valorax'), url(public/assets/fonts/Valorax-lg25V.otf) format('otf');
} */

@import url('public/assets/fonts/tailwind.css');
@tailwind components;
@tailwind utilities;

